@model IEnumerable<PcBuilder.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>@ViewData["Title"]</title>
    <link href="../css/site.css" rel="stylesheet" />
</head>
<body>
    @await Component.InvokeAsync("Carousel")
    <section>
        <div class="m-3">
            @await Component.InvokeAsync("Sort")
        </div>
        <div id="container">
            @await Component.InvokeAsync("ProductList")
        </div>
    </section>
    <div style="min-height: 50px"></div>
    <script>
            $('#sort').change(function (e) {
                e.preventDefault();
                $.post("@Url.Action("SelectedProductList", "Product")", { sortOrder: $('#sort').val() }).done(function (data) { $('#container').html (data) });
            });


            $('form').submit(function (e) {
                e.preventDefault();
                $.post("@Url.Action("SelectedProductList", "Product")", { searchString: $('#searchString').val() }).done(function (data) { $('#container').html (data) });
            });
    </script>
</body>
