@model IEnumerable<PcBuilder.Models.Category>

<ul class="nav flex-column">
    @foreach (var item in Model)
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Product" asp-action="SelectedProductList" asp-route-id="@item.CategoryId">@item.Name</a>
        </li>
    }
</ul>