@model IEnumerable<PcBuilder.Models.Category>

<ul class="nav flex-column">
    @foreach (var item in Model)
    {
        <li class="nav-item">
            <a class="nav-link" href="#">@item.Name</a>
        </li>
    }
</ul>