@{
    ViewData["Title"] = "Opuszczasz stronę, kliknij by przejść do płatności";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="../css/site.css" rel="stylesheet" />
</head>

<header>
        <div class="justify-content-center align-items-center d-flex flex-column">
            <div>
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="mt-3">
                <form method="post" action="https://secure.payu.com/api/v2_1/orders">
                    <input type="hidden" name="continueUrl" value="http://shop.url/continue">
                    <input type="hidden" name="currencyCode" value="PLN">
                    <input type="hidden" name="customerIp" value="123.123.123.123">
                    <input type="hidden" name="description" value="Order description">
                    <input type="hidden" name="merchantPosId" value="145227">
                    <input type="hidden" name="notifyUrl" value="http://shop.url/notify">
                    <input type="hidden" name="products[0].name" value="Product 1">
                    <input type="hidden" name="products[0].quantity" value="1">
                    <input type="hidden" name="products[0].unitPrice" value="1000">
                    <input type="hidden" name="totalAmount" value="1000">
                    <input type="hidden" name="OpenPayu-Signature" value="sender=145227;algorithm=SHA-256;signature=bc94a8026d6032b5e216be112a5fb7544e66e23e68d44b4283ff495bdb3983a8">
                    <button type="submit" class="btn btn-primary btn-block mt-5" formtarget="_blank">
                        Zapłać
                    </button>
                </form>
            </div>
        </div>
</header>