/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.imageSize {
    width: 250px;
    height: 250px;
    display: none;
}
/* Provide sufficient contrast against white background */
a {
    color: #292482;
}

.aColor {
    color: #292482 !important;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #292482 !important;
    border-color: #292482 !important;
}

.btn-primary {
    color: #fff;
    background-color: #292482 !important;
    border-color: #292482;
}

.nav-pills .nav-link.active {
    color: #fff !important;
    background-color: #292482;
}

.nav-pills a{
    color: #292482 !important;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    background-color: #11101d;
    text-align: center;
    font-size: 15px;
    color: white;
    left: 0;
    z-index: 9999;
}

li {
    margin: 3px;
    list-style: none;
    list-style-type: none;
}

.bg-image {
    background-image: url(../content/Images/login_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.login {
    margin-left: 5px;
    margin-top: 10%;
}

.image {
    width: 200px !important;
}

.login_form {
    background-color: RGBA(115, 108, 237, 0.3);
}

button {
    background-color: #292482 !important;
}

.hidden {
    visibility: hidden;
}

.borderCss {
    width: 83%;
    border-radius: 39px;
    background: #292482;
    box-shadow: 6px 6px 12px #28237f, -6px -6px 12px #2a2585;
}

.mleft {
    margin-left: 50%;
}

.custom-select {
    position: relative;
    width: 200px;
}
