@page
@model LockoutModel
@{
    ViewData["Title"] = "Konto Zablokowane";
}

<header class="justify-content-center align-items-center d-flex flex-column">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">To konto zostało zablokowane, prosimy spróbować ponownie później.</p>
</header>
