@page
@model LoginModel

@{
    ViewData["Title"] = "Logowanie";
}
<div class="login">
    <div class="row">
        <div class="col-md-7 login_form">
            <section>
                <form id="account" method="post">
                    <div class="login d-flex align-items-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-10 col-xl-7 mx-auto">
                                    <h3 class="display-4">Logowanie</h3>
                                    @*<div asp-validation-summary="All" class="text-danger"></div>*@
                                    <p class="text-muted mb-4">Podaj dane swojego konta aby się zalogować</p>

                                    <div class="form-group mb-3">
                                        <input asp-for="Input.Email" id="inputEmail" type="email" placeholder="Email" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4" value="admin@admin.pl">
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <input asp-for="Input.Password" id="inputPassword" type="password" placeholder="Hasło" required="" class="form-control rounded-pill border-0 px-4 text-primary" value="Admin1234%">
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    @*<div class="custom-control custom-checkbox mb-3">
                                            <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                            <label for="customCheck1" class="custom-control-label">Remember password</label>
                                        </div>*@
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Zaloguj</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                            <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </p>
                        </div>*@
                </form>
            </section>
        </div>
        <div class="col-md-3 d-none d-md-flex bg-image image" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}