@page
@model LogoutModel
@{
    ViewData["Title"] = "Czy na pewno chcesz się wylogować?";
}
<header>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="justify-content-center align-items-center d-flex flex-column">
            <div>
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="mt-3">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <div class="mt-3 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-block">Wyloguj</button>
                    </div>
                </form>
            </div>
        </div>
    }
    else
    {
        <p>Wylogowano pomyślnie z aplikacji.</p>
    }
</header>