<label>Sortuj według:</label>
<select id="sort" class="form-select" aria-label="Default select example">
    <option value="" selected disabled>Sortuj</option>
    <option value="nameAsc">Nazwa: A-Z</option>
    <option value="nameDesc">Nazwa: Z-A</option>
    <option value="priceAsc">Cena: od najniższej</option>
    <option value="priceDesc">Cena: od najwyższej</option>
</select>

