@model PcBuilder.Services.Configurator.ConfiguratorCheckViewModel

<div>
    <div style="right: 0;">
        <div>
            @foreach (var item in Model.Categories)
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Configurator" asp-action="SelectedConfiguratorCategory" asp-route-id="@item.CategoryId">

                        @if (Model.FilledCategories.Any(c => c.CategoryId == item.CategoryId)){ 
                        <span><i class='bx bxs-check-square'></i></span>
                        }
                        @item.Name
                    </a>
                </li>
            }
        </div>
    </div>
</div>