@model ProductFile

<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="file" id="productImage" />
    <br />
    <img id="previewImage" src="#" class="imageSize" />
    <br />
    <button class="btn btn-primary btn-block mt-3" type="button" id="deleteImage">usuń</button>
    <button class="btn btn-primary btn-block mt-3" type="submit">zatwierdź</button>
</form>

<script>
    $('#productImage').change(function (e) {
        e.stopImmediatePropagation();
        const [file] = this.files;
        if (file) {
            var src = URL.createObjectURL(file);
            $('#previewImage').attr('src', src);
            $('#previewImage').show();
        }
    })

    $('#deleteImage').click(function (e) {
        e.stopImmediatePropagation();
        $('#productImage').val(null);
        $('#previewImage').val(null);
        $('#previewImage').hide();
    });



</script>
